.element {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.restaurant-container{
    margin: 20px;
    border: 1px solid #222222;
    flex: 4;
}

.list-container{
    display: flex;
    margin: 10px;
    border: 1px solid #222222;
}

.left-container{
    flex: 2;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.right-container{
    flex: 1;
    border-left: 1px solid #222222;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.restaurant-logo{
    flex: 0.5;
}

.restaurant-name{
    flex: 2;
}

.restaurant-name div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.open{
    background: #009688;
    padding: 3px 10px;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.view-box{
    background: #222222;
    padding: 7px 15px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.right-container span{
    margin: 5px;
}

.main-container{
    display: flex;
    justify-content: space-between;
}

.filter-container{
    flex:1 ;
    margin: 20px;
    border: 1px solid #222222;
}

.header{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #222222;
}

.search-form{
    border-bottom: 1px solid #222222;
}

.input-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid #222222;
    margin: 20px 10px;
}

.input-text{
    width: 100% !important;
    height: 25px !important;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.input-text:focus{
    outline: none;
}

.input-box span i{
    padding: 5px !important;
}

.sort-box{
    padding: 20px;
    border-bottom: 1px solid #222222;
}
#sort{
    padding: 5px;
}

.title{
    padding-bottom: 10px;
    text-transform: uppercase;
}
.city-box{
    padding: 20px;
}

.city-list{
    padding: 5px;
}